In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('processed_used_cars.csv')

In [10]:
df.iloc[:,:16]

,price,depreciation_per_year,coe_left,mileage,manufactured_year,road_tax_per_year,dereg_value,omv,coe_value,arf,engine_capacity_cc,power,curb_weight,no_of_owners,car_age,days_on_market
0,450000.0,52920.0,3099,69200,2003,4155.0,97931.0,123866.0,122414.0,161026.0,3246,261,1460,4,22,49
1,888000.0,102380.0,3159,29000,2003,4953.0,110475.0,220263.0,138094.0,286342.0,3586,305,1290,2,22,24
2,108888.0,13190.0,3010,135000,2003,1800.0,93804.0,30485.0,117255.0,39631.0,1988,114,1440,2,22,10
3,180800.0,20080.0,3277,46000,2004,10611.0,84860.0,249670.0,106075.0,274637.0,5998,412,2410,6,21,24
4,450000.0,48050.0,3414,64700,2004,10026.0,81938.0,259435.0,102423.0,285379.0,5748,380,1825,4,21,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8999,345800.0,31390.0,3581,10,2025,1784.0,143028.0,53914.0,109000.0,74437.0,2487,184,2210,1,0,8
9000,155800.0,14840.0,3636,55,2025,680.0,86918.0,17589.0,94502.0,15089.0,1490,85,1160,1,0,3
9001,144888.0,14020.0,3564,50,2025,680.0,91423.0,17849.0,99889.0,15349.0,1490,85,1160,1,0,8
9002,142888.0,13360.0,3589,90,2025,680.0,84871.0,23567.0,85000.0,22494.0,1490,85,1190,1,0,53
9003,249999.0,23210.0,3587,2500,2025,1176.0,124211.0,36306.0,115112.0,42829.0,1969,145,1734,1,0,6